
.header {
    padding: 3% 0 5% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__menu {
    display: flex;
    gap: 80px;
}

.header__menu-link {
    font-family: var(--montserrat-font);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--blue-color);
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    .header {
        padding: 5%;
    }

    .header__menu {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}


