.footer {
    background-color: var(--blue-color);
    color: var(--black-color);
    padding: 2em;
}

.footer__text {
    font-family: var(--montserrat-font);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}